---
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro";
import { getTransLink } from "../utils/langs.js";
import isPreview from "@/utils/isPreview";
import ImagePreset from "../components/ImagePreset.astro";

const { language, blok } = Astro.props;

const storyblokApi = useStoryblokApi();

const { data: startPageData } = await storyblokApi.get("cdn/stories/profiles", {
  version: isPreview() ? "draft" : "published",
  language,
});

const { data: itemsData } = await storyblokApi.get(`cdn/stories`, {
  version: isPreview() ? "draft" : "published",
  starts_with: "profiles/",
  is_startpage: false,
  language,
});

const title = startPageData.story.content.title;
const articles = itemsData.stories;
---

<section {...storyblokEditable(blok)}>
  {!!title.trim().length && <h1 class="sr-only">{title}</h1>}
  <ul class="gap-5 grid grid-cols-1 min-[450px]:grid-cols-2 text-sm min-[450px]:text-base">
    {
      articles?.length &&
        articles?.map((article) => {
          article.content.slug = article.slug;
          return (
            <li class="relative hover:opacity-50 border rounded-md">
              <div class="aspect-[5/7] w-full rounded-t-md overflow-hidden mb-2">
                <ImagePreset image={article.content.image} />
              </div>
              <div class="mx-5 mb-2 min-[450px]:mb-5">
                <h2>
                  <a
                    href={getTransLink(
                      language,
                      `/profiles/${article.content.slug}`
                    )}
                  >
                    <span class="absolute inset-0 z-10" aria-hidden="true" />
                    {article.content.title}
                  </a>
                </h2>
                {!!article.content.gender?.trim().length && (
                  <div class="mb-2">
                    <p class="font-bold">{article.content.gender_title}</p>
                    <p>{article.content.gender}</p>
                  </div>
                )}
                {!!article.content.birthdate?.trim().length && (
                  <div class="mb-2">
                    <p class="font-bold">{article.content.birthdate_title}</p>
                    <p>{article.content.birthdate.slice(0, 10)}</p>
                  </div>
                )}
                {!!article.content.price?.trim().length && (
                  <div class="mb-2">
                    <p class="font-bold">{article.content.price_title}</p>
                    <p>{article.content.price}</p>
                  </div>
                )}
              </div>
            </li>
          );
        })
    }
  </ul>
</section>
