---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { language, blok } = Astro.props;
---

<article {...storyblokEditable(blok)}>
  <h2>{blok.title}</h2>
  {
    !!blok.email?.trim().length && (
      <div class="mb-5">
        <h3>{blok.email_title}</h3>
        <p>{blok.email}</p>
      </div>
    )
  }

  {
    !!blok.telefon?.trim().length && (
      <div class="mb-5">
        <h3>{blok.telefon_title}</h3>
        <p>{blok.telefon}</p>
      </div>
    )
  }
  {
    !!blok.links?.length && (
      <div class="mb-5">
        <h3>{blok.links_title}</h3>
        {blok.links?.map((blok) => (
          <StoryblokComponent language={language} blok={blok} />
        ))}
      </div>
    )
  }
</article>
