---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { ContactPageStoryblok } from "component-types-sb";

interface Props {
  language: string;
  blok: ContactPageStoryblok;
}

const { language, blok } = Astro.props;
---

<article {...storyblokEditable(blok)}>
  {!!blok.title?.trim().length && <h1 class="mb-10">{blok.title}</h1>}
  {
    !!blok.email?.trim().length && (
      <div class="mb-5">
        <h2>{blok.email_title}</h2>
        <p>{blok.email}</p>
      </div>
    )
  }

  {
    !!blok.telefon?.trim().length && (
      <div class="mb-5">
        <h2>{blok.telefon_title}</h2>
        <p>{blok.telefon}</p>
      </div>
    )
  }
  {
    !!blok.links?.length && (
      <div class="mb-5">
        <h2>{blok.links_title}</h2>
        <ul class="flex flex-wrap gap-5">
          {blok.links?.map((blok) => (
            <li class="underline underline-offset-2 hover:text-secondary">
              <StoryblokComponent language={language} blok={blok} />
            </li>
          ))}
        </ul>
      </div>
    )
  }
</article>
