---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { language, blok } = Astro.props;
---

<article {...storyblokEditable(blok)}>
  <section class="mb-10">
    <h1>{blok.title}</h1>
    <p>{blok.content}</p>
  </section>
  <div class="flex gap-5 mb-10 flex-wrap">
    {
      blok.cta_list?.map((blokItem) => (
        <StoryblokComponent language={language} blok={blokItem} />
      ))
    }
  </div>
  {
    blok.block?.map((blokItem) => (
      <StoryblokComponent language={language} blok={blokItem} />
    ))
  }
</article>
