---
import ImagePreset from "@/components/ImagePreset.astro";
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { HomePageStoryblok } from "component-types-sb";

interface Props {
  language: string;
  blok: HomePageStoryblok;
}

const { language, blok } = Astro.props;
const maxWidth = "300";
---

<article {...storyblokEditable(blok)}>
  <section class="mb-20">
    <h1 class="mb-5 sm:mb-10">{blok.title}</h1>
    <div class="grid sm:grid-cols-2 gap-8 sm:gap-4">
      <p>{blok.content}</p>
      <div class=`rounded-md overflow-hidden max-w-[${maxWidth}px] justify-self-center h-full w-full`>
        <ImagePreset
          src={blok?.main_image.filename}
          alt={blok?.main_image.alt}
          width={maxWidth}
          height="0"
        />
      </div>
    </div>
  </section>
  <p>test</p>
  <div class="flex gap-5 mb-10 flex-wrap justify-center">
    {
      blok.cta_list?.map((blokItem) => (
        <StoryblokComponent language={language} blok={blokItem} />
      ))
    }
  </div>
  {
    blok.block?.map((blokItem) => (
      <StoryblokComponent language={language} blok={blokItem} />
    ))
  }
</article>
