---
import { Image } from "astro:assets";
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { HomePageStoryblok } from "component-types-sb";

interface Props {
  language: string;
  blok: HomePageStoryblok;
}

const { language, blok } = Astro.props;

const maxWidth = "400";
// also change the width in imageWrapperClass' to have best optimization
const imageWrapperClass =
  "rounded-md overflow-hidden max-w-[400px] justify-self-center h-full w-full";
---

<article {...storyblokEditable(blok)}>
  <section class="mb-20">
    <h1 class="mb-5 sm:mb-10">{blok.title}</h1>
    <div class="grid sm:grid-cols-2 gap-8 sm:gap-4">
      <p>{blok.content}</p>
      <div class={imageWrapperClass}>
        <Image
          src={blok?.main_image.filename + `/m/${maxWidth}x${0}`}
          alt={blok?.main_image.alt ?? "image without description"}
          inferSize
          class="object-cover object-center w-full h-full"
          quality={80}
        />
      </div>
    </div>
  </section>
  <div class="flex gap-5 mb-10 flex-wrap justify-center">
    {
      blok.cta_list?.map((blokItem) => (
        <StoryblokComponent language={language} blok={blokItem} />
      ))
    }
  </div>
  {
    blok.block?.map((blokItem) => (
      <StoryblokComponent language={language} blok={blokItem} />
    ))
  }
</article>
