---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { language, blok } = Astro.props;
const renderedRichText = renderRichText(blok.content);
---

<article {...storyblokEditable(blok)}>
  <h1>{blok.title}</h1>
  <section class="mb-10" set:html={renderedRichText} />
  <div class="flex gap-5 mb-10">
    {
      blok.cta_list?.map((blokItem) => (
        <StoryblokComponent language={language} blok={blokItem} />
      ))
    }
  </div>
  {
    blok.block?.map((blokItem) => (
      <StoryblokComponent language={language} blok={blokItem} />
    ))
  }
</article>
