---
import { Image } from "astro:assets";
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import type { HomePageStoryblok } from "component-types-sb";
import { buttonVariants } from "@/components/ui/button";

interface Props {
  language: string;
  blok: HomePageStoryblok;
}

const { language, blok } = Astro.props;
---

<>
  <section
    class="flex flex-col md:flex-row items-center justify-between gap-12 mb-24"
    {...storyblokEditable(blok)}
  >
    <section class="md:w-1/2 space-y-6">
      <h1 class="text-4xl md:text-5xl font-bold leading-tight text-primary">
        {blok.title}
      </h1>
      <p class="text-xl md:text-2xl">{blok.content}</p>
      <ul class="list-disc list-inside space-y-2 text-xl md:text-2xl">
        {
          blok.landing_values?.map((blok) => (
            <li>
              <StoryblokComponent language={language} blok={blok} />
            </li>
          ))
        }
      </ul>
      <a
        href={blok.landing_cta_link.cached_url}
        class={buttonVariants({
          size: "lg",
          className: "mt-4",
        })}
      >
        {blok.landing_cta}
      </a>
    </section>
    <div>
      <Image
        src={blok?.main_image.filename + `/m/${500}x${0}`}
        alt={blok?.main_image.alt ?? "image without description"}
        inferSize
        class="rounded-lg shadow-2xl w-full max-w-md mx-auto"
        quality={80}
      />
    </div>
  </section>
  <section class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-24">
    {
      blok.cta_list?.map((blokItem) => (
        <StoryblokComponent language={language} blok={blokItem} />
      ))
    }
  </section>
  {
    blok.values?.map((valuesSection) => (
      <StoryblokComponent language={language} blok={valuesSection} />
    ))
  }
</>
