---
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro";
import { getFullUrl, getTransLink } from "../utils/langs.ts";
import isPreview from "@/utils/isPreview.ts";
import type {
  AllInformationPostsStoryblok,
  InformationPostStoryblok,
  PageStoryblok,
} from "component-types-sb";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import {
  AlertCircle,
  BookOpen,
  Calendar,
  ChevronRight,
  Tag,
} from "lucide-react";
import { buttonVariants } from "@/components/ui/button";

interface Props {
  language: string;
  blok: AllInformationPostsStoryblok;
}

const { language, blok } = Astro.props;

const storyblokApi = useStoryblokApi();
const { data: informationPageData }: { data: PageStoryblok } =
  await storyblokApi.get("cdn/stories/information", {
    version: isPreview() ? "draft" : "published",
    language,
  });

const { data: itemsData } = await storyblokApi.get(`cdn/stories`, {
  version: isPreview() ? "draft" : "published",
  starts_with: "information/",
  is_startpage: false,
  language,
});

const informationPage: PageStoryblok = informationPageData.story.content;

const articles = itemsData.stories;
---

<section {...storyblokEditable(blok)}>
  {
    articles?.length !== 0 ? (
      <Fragment>
        <BookOpen className="w-24 h-24 text-primary mb-6 mx-auto" />
        <h1 class="text-4xl font-bold text-center text-primary mb-12">
          {informationPage.title}
        </h1>
        <Card className="border-accent mx-auto max-w-xl text-center">
          <CardHeader>
            <AlertCircle className="w-12 h-12 mx-auto mb-4" />
            <CardTitle>{informationPage.content_absent_title}</CardTitle>
          </CardHeader>
          <CardContent>
            <p class="mb-6">{informationPage.content_absent}</p>
            <div class="flex flex-col sm:flex-row justify-center gap-4">
              <a
                href={getFullUrl(
                  language,
                  informationPage.links[0].link.cached_url
                )}
                class={buttonVariants({
                  variant: "default",
                })}
              >
                {informationPage.links[0].link_name}
              </a>
            </div>
          </CardContent>
        </Card>
      </Fragment>
    ) : (
      <div class="space-y-8">
        {articles?.reverse().map((article) => {
          const informationPost: InformationPostStoryblok = article.content;
          informationPost.slug = article.slug;
          return (
            <Card className="overflow-hidden hover:shadow-lg transition-shadow duration-300 border-l-4 border-primary">
              <div class="p-6">
                <CardHeader className="p-0">
                  <div class="flex items-center mb-2">
                    <Calendar className="w-4 h-4 mr-2" />
                    <span class="mr-4">
                      {new Date(article.first_published_at).toLocaleDateString(
                        "de-DE"
                      )}
                    </span>
                    <Tag className="w-4 h-4 mr-2" />
                    <span>{informationPost.tag}</span>
                  </div>
                  <CardTitle className="text-2xl font-bold text-primary mb-2">
                    {informationPost.title}
                  </CardTitle>
                </CardHeader>
                <CardContent className="p-0">
                  <p class="mb-4">{informationPost.meta_description}</p>
                  <a
                    href={getTransLink(
                      language,
                      `/information/${informationPost.slug}`
                    )}
                    class={buttonVariants({
                      variant: "outline",
                      className: "leading-0",
                    })}
                  >
                    <p>{informationPage.button_text}</p>
                    <ChevronRight className="ml-2 h-6 w-6" />
                  </a>
                </CardContent>
              </div>
            </Card>
          );
        })}
      </div>
    )
  }
</section>
