---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { language, blok } = Astro.props;
const renderedRichText = renderRichText(blok.description);
---

<article {...storyblokEditable(blok)}>
  <div class="flex flex-wrap gap-2 mb-5">
    <div>
      <img
        class="aspect-[4/3] max-w-80 object-cover rounded-md"
        src={blok.image.filename}
      />
    </div>
    <div>
      <h2>
        {blok.title}
      </h2>
      {
        !!blok.gender?.trim().length && (
          <div class="mb-2">
            <p class="font-bold">{blok.gender_title}</p>
            <p>{blok.gender}</p>
          </div>
        )
      }
      {
        !!blok.birthdate?.trim().length && (
          <div class="mb-2">
            <p class="font-bold">{blok.birthdate_title}</p>
            <p>{blok.birthdate.slice(0, 10)}</p>
          </div>
        )
      }
      {
        !!blok.price?.trim().length && (
          <div class="mb-2">
            <p class="font-bold">{blok.price_title}</p>
            <p>{blok.price}</p>
          </div>
        )
      }
    </div>
  </div>
  {
    renderedRichText?.trim().length !== 0 && (
      <>
        <p class="font-bold">{blok.description_title}</p>
        <div class="mb-5 prose dark:prose-invert" set:html={renderedRichText} />
      </>
    )
  }
  {
    !!blok.parents?.length && (
      <section>
        <h2>{blok.parents_title}</h2>
        <ul>
          {blok.parents?.map((blok) => (
            <li>
              <StoryblokComponent language={language} blok={blok} />
            </li>
          ))}
        </ul>
      </section>
    )
  }
  {
    !!blok.children?.length && (
      <section>
        <h2>{blok.children_title}</h2>
        <ul>
          {blok.children?.map((blok) => (
            <li>
              <StoryblokComponent language={language} blok={blok} />
            </li>
          ))}
        </ul>
      </section>
    )
  }
  {
    !!blok.gallery?.length && (
      <section>
        <h2>{blok.gallery_title}</h2>
        <ul class="flex flex-wrap gap-1">
          {blok.gallery?.map((image) => (
            <li>
              <img
                class="aspect-[4/3] object-cover max-w-80 rounded-sm"
                src={image.filename}
              />
            </li>
          ))}
        </ul>
      </section>
    )
  }
</article>
