---
import { storyblokEditable, renderRichText } from "@storyblok/astro";

const { blok } = Astro.props;
const renderedRichText = renderRichText(blok.description);
---

<article {...storyblokEditable(blok)}>
  <div class="content-wrapper">
    <div class="image-wrapper">
      <img src={blok.image.filename} />
    </div>
    <div>
      <h1>
        {blok.name}
      </h1>
      <p>
        {blok.gender}
      </p>
      <p>
        {blok.birthdate.slice(0, 10)}
      </p>
      <div set:html={renderedRichText} />
    </div>
  </div>
  <ul class="gallery-wrapper" role="list">
    {blok.gallery.map(image => (
      <li class="image-wrapper">
        <img src={image.filename} />
        </li>
    ))}
    
  </ul>
</article>