---
import { Image } from "astro:assets";
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import ProfileGallery from "@/components/ProfileGallery.astro";
import type { ProfileStoryblok } from "component-types-sb";

interface Props {
  language: string;
  blok: ProfileStoryblok;
}

const { language, blok } = Astro.props;
const renderedRichText = renderRichText(blok.description);
---

<article {...storyblokEditable(blok)}>
  <section class="flex flex-wrap gap-5 mb-5">
    <div class="aspect-[5/7] max-w-80 w-full rounded-md overflow-hidden">
      <Image
        src={blok.image?.filename}
        alt={blok.image?.alt ?? "image without description"}
        width={700}
        height={700}
        class="h-full w-full object-cover object-center"
        quality={80}
      />
    </div>
    <div>
      <h1>
        {blok.title}
      </h1>
      {
        !!blok.gender?.trim().length && (
          <div class="mb-2">
            <p class="font-bold">{blok.gender_title}</p>
            <p>{blok.gender}</p>
          </div>
        )
      }
      {
        !!blok.birthdate?.trim().length && (
          <div class="mb-2">
            <p class="font-bold">{blok.birthdate_title}</p>
            <p>{blok.birthdate.slice(0, 10)}</p>
          </div>
        )
      }
      {
        !!blok.price?.trim().length && (
          <div class="mb-2">
            <p class="font-bold">{blok.price_title}</p>
            <p>{blok.price}</p>
          </div>
        )
      }
    </div>
  </section>
  {
    renderedRichText?.trim().length !== 0 && (
      <section>
        <h2 class="font-bold">{blok.description_title}</h2>
        <div class="mb-5 prose dark:prose-invert" set:html={renderedRichText} />
      </section>
    )
  }
  {
    !!blok.gallery?.length && (
      <section class="mb-5">
        <h2>{blok.gallery_title}</h2>
        <ProfileGallery images={blok.gallery} />
      </section>
    )
  }
  {
    !!blok.parents?.length && (
      <section class="mb-5">
        <h2>{blok.parents_title}</h2>
        <ul>
          {blok.parents?.map((blok) => (
            <li>
              <StoryblokComponent language={language} blok={blok} />
            </li>
          ))}
        </ul>
      </section>
    )
  }
  {
    !!blok.children?.length && (
      <section>
        <h2>{blok.children_title}</h2>
        <ul>
          {blok.children?.map((blok) => (
            <li>
              <StoryblokComponent language={language} blok={blok} />
            </li>
          ))}
        </ul>
      </section>
    )
  }
</article>
