---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import ImagePreset from "../components/ImagePreset.astro";

const { language, blok } = Astro.props;
const renderedRichText = renderRichText(blok.description);
---

<article {...storyblokEditable(blok)}>
  <section class="flex flex-wrap gap-5 mb-5">
    <div class="aspect-[5/7] max-w-80 w-full rounded-md overflow-hidden">
      <ImagePreset image={blok.image} />
    </div>
    <div>
      <h1>
        {blok.title}
      </h1>
      {
        !!blok.gender?.trim().length && (
          <div class="mb-2">
            <p class="font-bold">{blok.gender_title}</p>
            <p>{blok.gender}</p>
          </div>
        )
      }
      {
        !!blok.birthdate?.trim().length && (
          <div class="mb-2">
            <p class="font-bold">{blok.birthdate_title}</p>
            <p>{blok.birthdate.slice(0, 10)}</p>
          </div>
        )
      }
      {
        !!blok.price?.trim().length && (
          <div class="mb-2">
            <p class="font-bold">{blok.price_title}</p>
            <p>{blok.price}</p>
          </div>
        )
      }
    </div>
  </section>
  {
    renderedRichText?.trim().length !== 0 && (
      <section>
        <h2 class="font-bold">{blok.description_title}</h2>
        <div class="mb-5 prose dark:prose-invert" set:html={renderedRichText} />
      </section>
    )
  }
  {
    !!blok.parents?.length && (
      <section>
        <h2>{blok.parents_title}</h2>
        <ul>
          {blok.parents?.map((blok) => (
            <li>
              <StoryblokComponent language={language} blok={blok} />
            </li>
          ))}
        </ul>
      </section>
    )
  }
  {
    !!blok.children?.length && (
      <section>
        <h2>{blok.children_title}</h2>
        <ul>
          {blok.children?.map((blok) => (
            <li>
              <StoryblokComponent language={language} blok={blok} />
            </li>
          ))}
        </ul>
      </section>
    )
  }
  {
    !!blok.gallery?.length && (
      <section>
        <h2>{blok.gallery_title}</h2>
        <ul class="flex flex-wrap gap-1">
          {blok.gallery?.reverse().map((image) => (
            <li class="aspect-[5/7] max-w-56 w-full rounded-md overflow-hidden">
              <ImagePreset image={image} />
            </li>
          ))}
        </ul>
      </section>
    )
  }
</article>
