---
import { Image } from "astro:assets";

const { images } = Astro.props;

let lang: string = "de";
const locale: string = Astro.url.pathname.split("/")[1];

let profileName = Astro.url.pathname.split("/")[2];

if (Astro.url.pathname.split("/")[1] !== "profiles") {
  profileName = Astro.url.pathname.split("/")[3];
}

if (locale === "en") {
  lang = "en";
} else if (locale === "ru") {
  lang = "ru";
}

const pathNameWithoutId: string =
  lang === "de" ? `/gallery/${profileName}` : `/${lang}/gallery/${profileName}`;
---

<ul class="gap-8 grid grid-cols-2 md:grid-cols-3">
  {
    images.toReversed.map((image) => (
      <li class="relative group cursor-pointer overflow-hidden rounded-lg shadow-lg aspect-square hover:opacity-80 transition-opacity duration-300">
        <a href={`${pathNameWithoutId}/${image.id}?img_url=${image.filename}`}>
          <Image
            src={image.filename + `/m/${600}x${0}`}
            alt={image.alt ?? "image without description"}
            inferSize
            class="w-full h-full object-cover object-center transition-transform duration-300 group-hover:scale-110"
            quality={80}
          />
        </a>
      </li>
    ))
  }
</ul>
