---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { language, langSwitch, pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <!-- <div class="content-wrapper"> -->
    <main>
      <Header langSwitch={langSwitch} language={language} />
      <h1>{pageTitle}</h1>
      <slot />
    </main>
    <!-- </div> -->
    <Footer />
  </body>
</html>
