---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { language, langSwitch, pageTitle } = Astro.props;
---

<script is:inline>
  const getThemePreference = () => {
    if (
      typeof localStorage !== "undefined" &&
      localStorage.getItem("theme")
    ) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{pageTitle}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    
    <main class="max-w-screen-md mx-auto w-full px-6 mb-5">
      <Header langSwitch={langSwitch} language={language} />
      <div>
        <h1>{pageTitle}</h1>
        <slot />
      </div>
    </main>
    <!-- TODO: Connect footer to storyblok -->
    <!-- <Footer /> -->
  </body>
</html>
